body{
    background-color: rgb(225, 230, 236);
}

.header{
    background-color: rgb(171, 192, 218);
    padding-top: 1px;
    padding-bottom: 1px;
}

.footer{
    background-color: rgb(225, 230, 236);
    padding-top: 1px;
    padding-bottom: 1px;
}

.back{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 49, 68);
    text-align: center;
    cursor: pointer;
    padding: 15px;
    margin-left: 80px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
}

.back:hover{
    background-color: rgb(211, 123, 107);
    color: rgb(255, 255, 255);
    padding: 15px;
    transition-duration: 0.4s;
}

.column{
    float: left;
    padding: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.menu{
    width: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text{
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
}

*{
    font-family: sans-serif;
    font-size: 30;
    line-height: 1.4;
    box-sizing: border-box;
}

p,h1,h2,h4,ul{
    margin-left: 80px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(0, 49, 68);  
}

table, td{
    margin-left: 60px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(0, 49, 68);
    border: 1px solid;  
}

#images{
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}

#row{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
}

#img{
    margin-left: 80px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.sketch{
    margin: 0px;
}

h3{ 
    margin-left: 80px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#title{
    color: rgb(211, 123, 107);    
    margin-left: 80px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer{
    margin-left: 80px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(0, 49, 68);
}

.menutext{
    margin: 10px;
}

.menu{
    color: rgb(0, 49, 68);
    text-decoration: none;
}

a.menu:hover{
    color: rgb(211, 123, 107);
    text-decoration: underline;  
}

.list{
    margin: 0px;
    color: rgb(106, 140, 180);
    text-decoration: none;
}

a.list:hover{
    color: rgb(211, 123, 107);
    text-decoration: underline; 
}

.list2{
    margin: 0px;
    color: rgb(211, 123, 107);
    text-decoration: none;
}

a.list2:hover{
    color: rgb(0, 49, 68);
    text-decoration: underline; 
}

.normallink{
    color: rgb(106, 140, 180);
    margin-left: 80px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;  
    text-decoration: none;
}

a.normallink:hover{
    color: rgb(211, 123, 107);
    text-decoration: underline; 
}
